body{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    min-height: 110svh;
    gap:2rem;
    justify-content: center;
    align-items: center;

    background-color:hsl(275, 100%, 97%);
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
}

/*Styling of Card*/
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    width: 40rem;

    padding: 20px;

    background-color: white;

    display: flex;
    flex-direction: column;
    gap:2rem;

    border-radius: 10px;
}

@media (max-width: 800px){
    .card{
        max-width: 20rem;
    }
}

/*Styling od heading*/
.heading{
    display:flex;
    flex-direction: row;

    align-items: center;

    color:  hsl(292, 42%, 14%);

    gap:1rem;

    font-size: x-large;
}

/*Styling of question*/
.question{
    display: flex;
    
    justify-content: space-between;

    font-weight: 600;
    color:  hsl(292, 42%, 14%);
}

.question:hover{
  border-bottom: 1px solid hsl(292, 16%, 49%);
}

.question i{
    align-self: flex-end;
    justify-content: flex-end;
}

/*Styling of answer*/
.answer{
    color: hsl(292, 16%, 49%);
    display: none;
}

div{
    display: flex;
    flex-direction: column;
}


/*Main CSS Reset*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }